#testimonials .cards {
    .bg-light();
    height: 150px;
    .mbottom(1rem);
    .mcenter();
    overflow: hidden;
    .fullw();

    .card {
        .bordered(1px, solid, @color-grey-light);
        .rounded();
        height: 150px;
        .ptop(.5rem);
        .p-bottom(.5rem);
        .plr(1rem);

        &-text {
            font-style: italic;

            .testimonial-name {
                display: inline-block;
                .mtop(.5rem);
            }
        }
    }
}
