.cards {
    align-items: center;
    .flex();
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        margin: auto;
        .p-bottom(1rem);

        ~ .card {
            .mtop(.5rem);
        }

        &-stacked {
            .stacked();
        }

        &-md {
            max-width: 300px;
            width: 100%;
        }

        &-heading {
            font-size: 2rem;
            .mtop(.5rem);
            .mbottom(.5rem);
        }

        &-img {
            .mtop(.5rem);
            .mbottom(.5rem);

            &-small {
                width: 150px;
            }

            &-thumb {
                width: 100px;
            }
        }

        &-media {
            align-items: center;
            .flex();
            justify-content: space-between;
            .fullw();

            &-img {
                .rounded(50%);
            }

            &-text {
                .ml(1rem);
            }
        }
    }

}
