.cards {
    align-items: center;
    .flex();
    flex-wrap: wrap;
    justify-content: space-between;
}

    .card {
        margin: auto;
        .p-bottom(1rem);

        &-stacked {
            .stacked();
        }

        &-md {
            max-width: 300px;
            width: 100%;
        }

        &-heading {
            font-size: 1.6rem;
            .mtop(.5rem);
            .mbottom(.5rem);
            text-align: center;
        }

        &-img {
            display: block;
            .mtop(.5rem);
            .mbottom(.5rem);
            .mcenter();

            &-icon {
                width: 48px;
            }

            &-thumb {
                width: 100px;
            }

            &-small {
                width: 150px;
            }

            &-medium {
                width: 200px;
            }

            &-large {
                width: 300px;
            }
        }

        &-text {
            .mcenter();
        }

        &-media {
            align-items: center;
            .flex();
            justify-content: space-between;
            .fullw();

            &-img {
                .rounded(50%);
            }

            &-text {
                .ml(.5rem);
            }
        }

        &-fw {
            .mlr(0);
            .fullw();
        }
    }
