#header-wrapper {
    background: @color-primary;
    box-shadow: 0 2px 5px @color-primary-lighter;
    .fixed();
    max-height: 50px;
    .top();
    .fullw();
    z-index: 1;
}

#page-header {
    align-items: center;
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
    .fullw();

    .logo {
        
        img {
            background: @color-white;
            width: 50px;
        }
    }

    .company-name {
        color: @color-white;
        font-size: 3.6em;
        line-height: 1;
        .ml(1rem);
        text-shadow: 1.5px 1.5px rgba(46, 46, 46, .5);
    }

    nav-primary {
        @media @medium {
            width: 100%;
        }
    }

    #primary {
        align-items: center;
        .bottom();
        box-shadow: 0 -1px 5px @color-grey;
        background-color: @color-grey-light;
        display: flex;
        height: 50px;
        .left();
        .fixed();
        .fullw();

        @media @medium {
            background-color: transparent;
            bottom: unset;
            .ml(1rem);
            position: static;
        }

        .nav {
            &-list {
                display: flex;
                justify-content: space-around;
                .fullw();
            }

            &-item {
                // font-size: 0.8em;
            }

            &-link {
                align-items: center;
                border-bottom: none;
                .flex();
                flex-direction: column;
                font-weight: bold;
                justify-content: center;

                @media @medium {
                    font-weight: normal;
                }

                @media @large {
                    flex-direction: row;
                    font-size: 1.3em;

                    .nav-icon {
                        .mr(5px);
                        width: 16px;
                    }
                }

                &:hover {
                    .b-bottom(1px, dashed, @color-secondary-darker);
                    color: @color-secondary-darker;
                    opacity: .6;
                }
            }
        }

    }

    #secondary {
        align-items: center;
        .flex();
        justify-content: flex-end;
        width: 70%;

        .btn {
            .mr(.6em);
        }

        @media @medium {
            .evenly-spaced();
            width: 40%;

            .btn {
                .mr(unset);
            }
        }

        @media @large {
            justify-content: flex-end;

            .btn {
                .ml(10%);
                padding: .6rem 1.2rem;
            }
        }
    }
}
