.content {
    font-size: 1rem;
    .mtop50();

    &-headline {
        font-size: 2.5em;
        .p-bottom(.5rem);
        .ptop(.5rem);
        text-align: center;
    }

    .section {
        .plr(1rem);

        &-heading {
            font-size: 2.3rem;
            .mbottom(.5rem);
            .mtop(.5rem);
            text-align: center;
        }
    }

    #roadmap {
        background: @color-grey-lighter;

        .card {
            .b-bottom(@color: @color-grey);

            &:last-child {
                border-bottom: none;
            }
        }
    }

    #testimonials {
        background: @color-primary-lighter;
        font-size: .8rem;
        .ptop(1rem);
        .p-bottom(1rem);
    }

    #benefits {
        .plr(0);

        .card {
            .stacked();
        }

        .card-text {
            .plr(.5rem);
        }
    }
}
