html, body {
    overflow-x: hidden;
}

body {
    background: @color-white;
}

.fw-wrapper {
    .fullw();
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.fh {
    min-height: calc(100vh - 100px);

    @media @medium {
        min-height: calc(100vh - 50px);
    }
}

.no-border {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.text-left {
    text-align: left;
}

.content-text {
    margin-bottom: 12px;
}
